<div id="particles-js">
  <div class="header">
    <!-- <h1 style="color: white;">Hi, I'm </h1> -->
    <h1 style="color: white;">Hi, I'm <span class="site-title">{{site.username}}, </span></h1> 
    <p href="" class="typewrite" data-period="3000" data-type='["CyberSecurity Student", "CTFs Player", "Pentesting", "Ethical Hacking", "Red Team"]'>
        <span class="site-description wrap"></span>
      </p>
      <!-- <h1> -->
        <span class="site-description">{{site.user_title}}</span>
      <!-- </h1> -->
      <div class="header-icons">
        <a aria-label="Send Email" href="mailto:marianoalfonso80@protonmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/mariano-alfonso-667a60226"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/0mariano"><i class="icon fa fa-github" aria-hidden="true"></i></a>
         <!-- <a aria-label="My Twitter" target="_blank" href="#"><i class="icon fa fa-twitter" aria-hidden="true"></i></a> -->
         <!-- <a aria-label="My Google Plus" target="_blank" href="#"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a> -->
      </div>
      <div class="header-links">
        <a class="link" href="#whoami" data-scroll>Whoami</a>
        <a class="link" href="#blog" data-scroll>Blog</a>
      </div>
  </div>
  <a class="down" href="#whoami" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
