<!-- <div class="user-details"> -->
  <!-- <h1> ls -l </h1> -->
<!-- </div> -->
<!-- <div class="user-projects"> -->
  <!-- <div class="images-right rounded"> -->
    <!-- <img alt="mountains" src="/assets/img/writeups.png" /> v
  <!-- </div> -->
  <!-- <div class="contents"> -->
  <!--  <h3> Writeups </h3> -->
  <!--   <p>La sección de writeups muestra las soluciones de las máquinas de plataformas como HackTheBox y Vulnhub, mostrando diversas técnicas de pentesting para acceder a dichas máquinas.</p> -->
    <!-- <a class="project-link" href="writeups">Writeups</a> -->
  <!-- </div> -->
<!-- </div> -->
<!-- <div class="user-projects"> -->
  <!-- <div class="images-left rounded"> -->
    <!-- <img alt="mountains" src="/assets/img/blog.png" /> -->
  <!-- </div> -->
  <!-- <div class="contents-right"> -->
    <!--<h3> Blog </h3> -->
    <!-- <p>En la sección de blog, se enseñan diferentes técnicas de pentesting, las cuales son utilizadas para evaluar la seguridad de sistemas informáticos y aplicaciones web, proporcionando el conocimiento sobre cómo identificar posibles riesgos de seguridad.</p> -->
    <!-- <a class="project-link" href="https://0mariano.github.io/blog">Blog</a> -->
  <!-- </div> -->
<!-- </div> -->

<!-- Sección de detalles del usuario -->
<!-- <div class="user-details"> -->
<!-- <h1> My Expertise </h1> -->
<!-- <p> {{site.user_description}} </p> -->
<!-- </div> -->

<!-- Sección principal del usuario -->
<!-- <div class="user"> -->
  <!-- Sección de habilidades de diseño -->
  <!-- <div class="tech"> -->
    <!-- <h2>Design</h2> -->
    <!-- <i class="devicon-html5-plain-wordmark"></i> -->
    <!-- <i class="devicon-bootstrap-plain-wordmark colored"></i> --> 
    <!-- <i class="devicon-sass-original colored"></i> -->
    <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. Vinyl XOXO lumbersexual</p> -->
  <!-- </div> -->

  <!-- Sección de habilidades de código -->
  <!-- <div class="tech"> -->
    <!-- <h2>Code</h2> -->
    <!-- <i class="devicon-javascript-plain colored"></i> -->
    <!-- <i class="devicon-react-original-wordmark colored"></i> -->
    <!-- <i class="devicon-nodejs-plain-wordmark"></i> -->
    <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. Vinyl XOXO lumbersexual</p> -->
  <!-- </div> -->

  <!-- Sección de herramientas -->
  <!-- <div class="tech"> -->
    <!-- <h2>Tools</h2> -->
    <!-- <i class="devicon-git-plain"></i> -->
    <!-- <i class="devicon-gulp-plain colored"></i> --> 
    <!-- <i class="devicon-atom-original-wordmark"></i> -->
    <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. Vinyl XOXO lumbersexual</p> -->
  <!-- </div> -->
<!-- </div> -->
