<div class="user-details">
  <h1> ls -l </h1>
</div>
<div class="user-projects">
  <div class="images-left rounded">
    <img alt="mountains" src="/assets/img/blog.png" />
  </div>
  <div class="contents-right">
    <h3> Blog </h3>
    <p>Produzco y comparto contenido de valor sobre artículos, noticias, e investigaciones relacionadas con CiberSeguridad y Hacking Ético. Además, desarrollo y explico detalladamente Write-Ups de máquinas de la plataforma HackTheBox.</p>
    <a class="project-link" href="https://0mariano.github.io/blog">Blog</a>
  </div>
<!--
<div class="user-projects">
  <div class="images-right rounded">
    <img alt="mountains" src="/assets/img/writeups.png" />
  </div>
  <div class="contents">
    <h3> Writeups </h3>
    <p>La sección de writeups muestra las soluciones de las máquinas de plataformas como HackTheBox y Vulnhub, mostrando diversas técnicas de pentesting para acceder a dichas máquinas.</p>
    <a class="project-link" href="writeups">Writeups</a>
  </div>
</div>
</div>
-->
